 <div class="d-flex flex-column">
<div class="profile">
    <img src="{{ asset("ZhazgulKadyrbekova/img/profile-img.jpg") }}" alt="" class="img-fluid rounded-circle">
    <h2 class="text-light" align=center><a href="{{ path("zhazgul_kadyrbekova") }}">Zhazgul Kadyrbekova</a></h2>
</div>
    <ul>
        <li class="active"><a href="{{ path("zhazgul_kadyrbekova") }}"><i class="bx bx-home"></i> <span>Student info</span></a></li>
        <li><a href="{{ path("truck_zhazgul_index") }}"><i class="bx bx-user"></i> <span>Data base operations</span></a></li>
        <li><a href="{{ path("search_form") }}"><i class="bx bx-user"></i> <span>Search</span></a></li>
    </ul>
</div>